<%= form_tag "/client/contacts", method: :post do %>
  <div>
    First Name: <input type="text" name="first_name">
  </div>

  <div>
    Middle Name: <input type="text" name="middle_name">
  </div>

  <div>
    Last Name: <input type="text" name="last_name">
  </div>

  <div>
    Bio: <input type="text" name="bio">
  </div>

  <div>
    Email: <input type="text" name="email">
  </div>

  <div>
    Phone: <input type="text" name="phone_number">
  </div>

  <div>
    <input type="submit" value="Add Contact">
  </div>
<% end %>