<!DOCTYPE html>
<html>
  <head>
    <title>ContactsAppClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div>
      <h1>Deez my Friends</h1>
    </div>
    <div>
      <a href="/client/contacts/new">New Contact</a>
    </div>
    <%= yield %>
  </body>
</html>
